*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

.nav-bar,h1{
    margin-left: 15px;
}

.nav-bar{
    color: coral;
}

.selections, a{
    color: rgb(36, 27, 27);
}

.selections,li{
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.title{
    text-align: center;
    margin: 10px;
    padding: 10px;
}

img{
    display: flex;
    align-items: center;
    padding: 15px;
}

p{
    text-align: center;
    margin: 15px;
    color: rgb(36, 27, 27);
}

h2{
    color: #ffa500;
    margin: 15px;
    text-decoration: underline;
}
